.theme-btn {
	background-color: $theme-primary-color;
	color: $white;
	font-weight: 600;
	padding: 15px 27px 12px;
	border: 0;
	border-radius: 50px;
	text-transform: uppercase;
	display: inline-block;

	&:hover,
	&:focus,
	&:active {
		background-color: darken($theme-primary-color, 8%);
		color: $white;
	}

	@include media-query(991px) {
		font-size: 15px;
		font-size: calc-rem-value(15);
		padding: 12px 25px 9px;
	}
}


.theme-btn-s2 {
	@extend .theme-btn;
	border: 2px solid $white;
	text-transform: capitalize;

	&:hover {
		border-color: darken($theme-primary-color, 8%);
	}
}